<div class='container mt-4'>
    <h3>My Courses</h3>
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>Description</th>
                <th scope='col'>Created At</th>
                <th scope='col'>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a
                            href='/courses/{{this._id}}/edit'
                            class='btn btn-link'
                        >Edit</a>
                        <a
                            href=''
                            class='btn btn-link'
                            data-toggle='modal'
                            data-target='#delete-course-modal'
                            data-id={{course.id}}
                        >Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! modal confirm }}
<div
    class='modal'
    id='delete-course-modal'
    tabindex='-1'
    role='dialog'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Modal title</h5>
                <button
                    type='button'
                    class='close'
                    data-dismiss='modal'
                    aria-label='Close'
                >
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Modal body text goes here.</p>
            </div>
            <div class='modal-footer'>
                <button
                    id='btn-delete-course'
                    type='button'
                    class='btn btn-danger'
                >Delete</button>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-dismiss='modal'
                >Close</button>
            </div>
        </div>
    </div>
</div>

{{! Form delete hidden }}
<form name='delete-course-form' method='POST'></form>

<script>
    document.addEventListener('DOMContentLoaded', function() { var courseId; var
    deleteCourseForm = document.forms['delete-course-form'];
    $('#exampleModal').on('show.bs.modal', function (event) { var button =
    $(event.relatedTarget) button.data('id') }); var btnDeleteCourse =
    document.getElementById('btn-delete-course'); btnDeleteCourse.onclick =
    function() { deleteCourseForm.action = '/courses/' + courseId +
    '?_method=DELETE' deleteCourseForm.submit() }; });
</script>